@import url('https://fonts.googleapis.com/css?family=Anton');
li.nav-item {
    margin-left: 100px;
}
.small, small {
    font-size: 1.2em;
    margin-left: 2em;
}
.me-2 {
    margin-right: .5rem!important;
    height: 40px;
    width: 50px;
}