.header img{
  height: 120px;
  width: 450px;
}

.navigation-bar .eldoradoLogo{
  height: 70px;
  width: 280px;
}

.navigation-bar .proPic{
  height: 60px;
  width: 60px;
}

.header{
  margin-bottom: 40px;
}

.search-box input{
  width: 400px;
  margin-right: 10px;
  font-size: 17px;
}

.category-dropdown{
  width: 210px;
  font-size: 17px;
}

#navbarScroll{
  display: flex;
  justify-content: space-around;
}